body {
    padding: 0;
    margin: 0;
}
#canvas {
    position: absolute;
    background-color: red;
    width: var(--CANVAS_WIGHT);
    height: var(--CANVAS_HEIGHT);
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 48px;

    background-color: #808080;
    color: #f2f2f2;
    font-size: 24px;
}
#footer p {
    margin: 12px 0 0 8px;
}