#table-menu {
  display: flex;
}
#table-menu div{
  margin: 16px auto 32px;
  text-align: center;
}
#table-menu div div {
  display: flex;
  margin: 16px 4px;
}
#table-menu div p {
  font-size: 20px;
  margin: auto 4px auto auto;
}
#table-menu div span {
  margin: auto auto auto 4px;
}
#user-tables-zone, #tables-types-zone {
  display: block!important;
  padding: 8px 4px;
  border-top: 2px solid var(--second-color);
  border-bottom: 2px solid var(--second-color);
  text-align: center;
}
#save-btn, #back-btn {
  position: fixed;
  bottom: 16px;
  min-width: 128px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: var(--second-color);
  box-shadow: -2.25px 1.5px 3px var(--third-color);
  text-align: center;
}
table {
  width: calc(96% - 2px);
  margin: 2% 2% 56px 2%;
  border-collapse: collapse;
}
tr {
  display: flex;
  width: 100%;
  min-height: 64px;
  margin: 2px 0;
}
th *, td * {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  min-height: 20px;
  margin: auto auto;
}
th, td {
  border: 2px solid var(--second-color);
  border-radius: 4px;
  padding: 4px 8px;
}
th {
  text-shadow: -2.25px 1.5px 3px var(--second-color);
}
tr th:first-child, tr td:first-child {
  width: calc(30% - 2px);
  margin-right: 2px;
}
tr th:last-child, tr td:last-child {
  width: 70%;
}
table span {
  display: block;
  width: calc(100% - 20px);
  text-align: left;
}
#save-btn {
  right: 12px;
}
#back-btn {
  left: 12px;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
  #table-menu {
    display: block;
  }
  tr * {
    font-size: 14px;
  }
  table span {
    min-height: 16px;
  }
  #save-btn, #back-btn {
    min-width: 96px;
  }
}
